doctype html
html
  head
    title Messenger
    link(rel="stylesheet", href="/public/application.css")
    block scripts

  body
    header
      h1 Messenger
      block header
        if user
          span
            =user.username
            a(href="/logout") Logout
        else
          span
            a(href="/login") Login
    #content
      block content
